---
layout: default 
---

{% include nav.html %}
<!-- first container -->
<div class="container-projects">
  {% include header-with-search.html title="Projects" header_class="header-projects" search_wrapper_class="search-wrapper-new" %}
  <hr>
  <!-- to adjust the overview please adjust the projects: text in the _config.yml file-->
  <div class="projects-overview"><p>{{site.data.projects_overview.overview}}</p></div>
  <hr>
  <div class="projects-wrapper">
    {% for project in site.projects %}
    <div class="project-card" id="{{project.proj_id}}" data-href="../project/{{project.proj_id}}" data-tags="{{ project.tags | join: ',' }}">
      <div class="project-card-text">
        <h1>{{project.title}}</h1>
        <div class="image-box">
          <img src="{{project.image}}" alt="{{project.title}}"/>
        </div>
        <p>{{project.overview}}</p>
      </div>
      <div class="read-more">
        <a href="../project/{{project.proj_id}}">View Project →</a>
      </div>
      <p class="tag">{{ project.tags | join: ', ' }}</p>
      <div class="overlay"></div>
    </div>
    {% endfor %}
  </div>
</div>
 
{% include footer.html %}

{% include clickable-content.html selector='.project-card' %}

{% include filter-scripts.html 
   input_id="search" 
   items_selector=".project-card" 
   title_selector="h1" 
   tag_text_selector=".tag" %}