---
layout: default
---
{% include nav.html %}

<div class="team-page">
  <h1 class="header">Amirah Hamid's Profile</h1>
  <hr>
  <img src="../../assets/img/team/default-person.jpg" alt="Amirah Hamid">
  
  <h1>Contact Information:</h1>
  <hr>
  <p><strong>Email:</strong> <a href="mailto:Amirah-Hamid@ubd.edu.bn">Amirah-Hamid@ubd.edu.bn</a></p>
  <p><strong>Role:</strong> PhD Student</p>
  
  <h1>Research Interests:</h1> 
  <hr>
  <ul>
    <li>Alzheimers</li>
    <li>MRIs</li>
    <li>Machine Learning</li>
  </ul>
  
  <h1>Biography:</h1>
  <hr>
  <p>Amirah is pursuing research in machine learning applciations to Alzheimers disease and brain MRIs.</p>
  
</div>

{% include footer.html %}