---
layout: default
---
{% include nav.html %}

<div class="team-page">
  <h1 class="header">Azryl Sarih's Profile</h1>
  <hr>
  <img src="../../assets/img/team/person0.png" alt="Azryl Sarih">
  
  <h1>Contact Information:</h1>
  <hr>
  <p><strong>Email:</strong> <a href="mailto:Azryl-Sarih@ubd.edu.bn">Azryl-Sarih@ubd.edu.bn</a></p>
  <p><strong>Role:</strong> Masters Student</p>
  
  <h1>Research Interests:</h1> 
  <hr>
  <ul>
    <li>Neural Networks</li>
    <li>SENNs</li>
    <li>Network Expansion</li>
  </ul>
  
  <h1>Biography:</h1>
  <hr>
  <p>Azrly is working on desgin and analysis of growing (or self-expanding) neural networks.</p>
  
</div>

{% include footer.html %}