---
layout: default
---
{% include nav.html %}

<div class="team-page">
  <h1 class="header">Dr Larissa Samuelson's Profile</h1>
  <hr>
  <img src="../../assets/img/team/person0.png" alt="Dr Larissa Samuelson">
  
  <h1>Contact Information:</h1>
  <hr>
  <p><strong>Email:</strong> <a href="mailto:Larissa-Samuelson@stanford.edu">Larissa-Samuelson@stanford.edu</a></p>
  <p><strong>Role:</strong> Collaborating Professor</p>
  
  <h1>Research Interests:</h1> 
  <hr>
  <ul>
    <li>Developmental Psychology</li>
    <li>Language</li>
    <li>Cognitive Development</li>
  </ul>
  
  <h1>Biography:</h1>
  <hr>
  <p>Prof. Martinez collaborates on projects related to developmental psychology and word learning.</p>
  
</div>

{% include footer.html %}