---
layout: default
---
{% include nav.html %}

<div class="team-page">
  <h1 class="header">Haji Gul's Profile</h1>
  <hr>
  <img src="../../assets/img/team/person0.png" alt="Haji Gul">
  
  <h1>Contact Information:</h1>
  <hr>
  <p><strong>Email:</strong> <a href="mailto:haji.gul@ubd.edu.bn">haji.gul@ubd.edu.bn</a></p>
  <p><strong>Role:</strong> PhD Student</p>
  
  <h1>Research Interests:</h1> 
  <hr>
  <ul>
    <li>Knowledge Graphs</li>
    <li>NLP</li>
    <li>Machine Learning</li>
  </ul>
  
  <h1>Biography:</h1>
  <hr>
  <p>Haji is pursuing research in knowledge graph completion and natural language processing.</p>
  
</div>

{% include footer.html %}