---
layout: default
---
{% include nav.html %}

<div class="team-page">
  <h1 class="header">Taha Bhatti's Profile</h1>
  <hr>
  <img src="../../assets/img/team/person0.png" alt="Taha Bhatti">
  
  <h1>Contact Information:</h1>
  <hr>
  <p><strong>Email:</strong> <a href="mailto:Taha-Bhatti@ubd.edu.bn">Taha-Bhatti@ubd.edu.bn</a></p>
  <p><strong>Role:</strong> Masters Student</p>
  
  <h1>Research Interests:</h1> 
  <hr>
  <ul>
    <li>Behavior Bodeling</li>
    <li>Virtue Ethics</li>
    <li>LLMs</li>
  </ul>
  
  <h1>Biography:</h1>
  <hr>
  <p>Taha is working on ML models for longitudinal behavior modeling and virtue ethics.</p>
  
</div>

{% include footer.html %}