---
layout: default
---
{% include nav.html %}

<div class="team-page">
  <h1 class="header">Udaya Wijesena's Profile</h1>
  <hr>
  <img src="../../assets/img/team/person0.png" alt="Udaya Wijesena">
  
  <h1>Contact Information:</h1>
  <hr>
  <p><strong>Email:</strong> <a href="mailto:Udaya-Wijesena@ubd.edu.bn">Udaya-Wijesena@ubd.edu.bn</a></p>
  <p><strong>Role:</strong> PhD Student</p>
  
  <h1>Research Interests:</h1> 
  <hr>
  <ul>
    <li>Finance</li>
    <li>Time-Series</li>
    <li>Multi-agent Systems</li>
  </ul>
  
  <h1>Biography:</h1>
  <hr>
  <p>Udaya is pursuing research in machine learning applications to finance and stock price prediction.</p>
  
</div>

{% include footer.html %}